<!DOCTYPE html>
<html>
<head>
    
</head>
<body>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
